.header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 189.26px 31.6px 27px;
}

@media (min-width: 1000px) {
    .header__logo {
        width: 142px;
        height: 33px;
        margin: 0;
        margin-bottom: 41px;
}
}