.header {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding-top: 28px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    justify-content: space-between;
}
@media (min-width: 1000px) {
    .header {
        max-width: 880px;
        padding-top: 45px;
    }
}